@charset "UTF-8";
body{
background-color:grey;

}

b.padding{
padding-left:20cm;
}
.container{
margin-left:330px;
border:10px;

}
.maincontainer{
width:600px;
top:8px;
height:600px;
background-color:blanchedalmond;
margin-left:0px;
border-radius:30px;
padding-left: 10px;
padding-top:1px;
padding-bottom: 0px;
}
.dropdown{
margin-left:10px;
margin-top:8px;
width:255px;
height:35px;
}
.textbox{

margin-left:10px;
margin-top:8px;
width:250px;
height:30px;

}
.second{
margin-left:300px;
margin-top:-318px;
}
.button{
background-color:blue;
color:white;
padding:16px 20px;
margin:8px 0;
margin-left:20px;
border:none;
border-radius:30px;
cursor:pointer;
width:550px;
opacity:0.9;
}
.button:hover{
opacity:1;
}
.lan{
top:10px;
background-color:blue;
color:white;
margin-left:500px;
margin-top:0px;
border:none;
border-radius:50px;
}
.lann{
border:none;
border-radius:50px;
}
.progress{

margin-left:-529px;
border-radius:50px
}

